body{
    background-color: #33cc33;
    background-image: url(../../images/Tree.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
ul.ulnav{
    border-radius: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(63, 94, 63);
} 
li.linav{
    float: left;
}
li.linav a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a.active{
    display: block;
    color: rgb(22, 233, 22);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.linav a:hover{
    background-color: black;
}
body {
    color: rgb(255, 255, 255);
}
  div.transbox {
    margin: 30px;
    background-color: #0e3f04;
    border: 1px solid black;
    opacity: 0.9;
  }
  div.background {
    background: url(../../images/Tree.jpg) no repeat;
    border: 2px solid black;
  }
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #ffffff;
  }